.my-button {
    background: #bb000b;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}

.white-outline-button {
    background: #fff;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
}

.btn-black-otline {
    border: 1px solid #000;
}

.btn-black-otline:hover {
    background: #000;
    color: #fff;
}

.text-red {
    color: #bb000b;
}

.founder-voices-img,
.podcast-img {
    max-width: 500px;
    margin: 0 auto;
}

.fonder-spolight-wrapper h2 {
    font-size: 30px;
}

.founder-img {
    margin: 0 auto 10px;
    width: 91px;
    height: 91px;
    overflow: hidden;
}

.menu button:hover {
    color: #bb000b;
}