.my-button {
    background: #bb000b;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}

.white-outline-button {
    background: #fff;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
}

.text-red {
    color: #bb000b;
}

.founder-voices-img,
.podcast-img {
    max-width: 500px;
    margin: 0 auto;
}