.my-button {
    background: #bb000b;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}

.white-outline-button {
    background: #fff;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
}

.text-red-600 {
    color: #bb000b;
}